


body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: (#ffffff);
  border-radius: 10px;
  color: #222;
}
.container{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
img{
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
main {
  width: 90%;
  max-width: 1200px;
  margin-left:10 px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  background-color: paleturquoise;
  box-shadow: 0 2px 8px bold;
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%; 
  z-index: 100;
  padding: 15px 35px;
}

.navbar .logo {
  font-size: 28px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 25px;
  margin: 0;
  padding: 0;
  font-size: 20px;

}
 
.navbar ul li a {
  text-decoration: none;
  color: white;
  font-weight: 400;
  padding: 20px 30px ;
  background: none;
  border-radius: 10px;
  display: flex;
  font-size: 20px 30px;
}
.navbar ul li a:hover {
  color: blue;
}


.logo{
  text-decoration:gray;
  font-size: 30px;

}


.navbar ul li a:hover {
  color: #007BFF;
}


.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 40px 0;
  flex-wrap: wrap;
}

.home-image img.profile-img {
  width: 300px;
  border-radius: 15px;
}

.hero-text {
  max-width: 300px;
}


.hero-text h1 span {
  color: ;
}

.hero-text h3 {
  margin: 10px 0;
}

.hero-text .btn {
  display: inline-block;
  margin-top: 10 px;
  padding: 10px 20px;
}
.about{ width: 600px;
   margin: 100px auto; 
  padding: 10px 50px; 
  background:  lightblue;
   border-radius: 12px;
    box-shadow: 0 4px 10px ( brown,0,0,0,0.3); 
   line-height: 1.8;
    font-size:  20px;
   justify-content: space-around; }

.skills {
  text-align: center;
  margin: 80px auto;
  padding: 5px 10px;
  background: li;
  border-radius: 12px;
}

.skills h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

  .skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}


.skill-box {
  background: floralwhite;
  text-align:center ;
  width: 60px;
  height: 60px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0.1);

}

.skill-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.skill-box img, i{
  width: 60px;
  height: 60px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
    flex-direction: column;
}



.skill-box img, p .skill-box{
  width: 60px;
  height: 60px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
    flex-direction: column;
}


.skill-box:hover {
  border: 3px lightpink;
}

.skill-box img {
  width: 60px;
  height: 60px;
}

.experience {
  margin: 60px 0;
}

.experience-item {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  margin-bottom: 12px;
}

.exp-logo {
  width: 80px;
  border-radius: 10px;
}


.education-box {
  width: 50%;
  display: flex;
  align-items: top;
  border-radius: 10px;
  background-color: powderblue;
}

.education-left-section {
 width: 70%;
  padding: 20px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.education-left-section img {
  width: 70%;
  height: auto;
  border-radius: 20px;
  margin: 20px auto;
  display: block;

}

.education-right-section {
  width: 70%;
  padding: 20px;
  box-sizing: border-box;
}

.education-right-section p {
  font-size: 15px;
  
}
.school-logo{
  border-radius: 50%;
  height: 60px;
  padding: 20px;
  margin: 10px auto;
}
.section{
  max-width: 800px;
  width: 100%;
}
.contact {
  margin: 60px 0;
  text-align: center;
}

.contact-form {
  width: 35%;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  flex-direction: column;
}

.contact-form label {
  color: white;
  font-size: 18px;
}

.contact-form input,
textarea {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.2);
  color: rgb(90, 25, 25);
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: lemonchiffo;
}

.contact-form input[value="Submit"] {
  background-color: rgb(60, 90, 335);
  color: #007BFF;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-form input[value="send Message"]:hover {
  background-color: black(30, 90, 92);
  color: rgb(2, 1, 5);
}

.contact-form input:focus,
.contact-form textarea:focus {
  border: 2px solid black;
}
